<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Suite">

<test name="HomePageTest">
<classes>
<class name="com.test.automation.uiAutomation.homepage.TC001_Verifyloginwithinvalid_details"></class>
<class name="com.test.automation.uiAutomation.homepage.TC002_VerifyRegistration"></class>
<class name="com.test.automation.uiAutomation.homepage.TC003_Verifyloginwithvalid_details"></class>
</classes>
</test>
</suite>
